@import "_variables";
@import "../node_modules/bootstrap/scss/bootstrap";

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success_hidden {
    display: none;

}

.danger_hidden {
    display: none;
}

.home_icon {
    height: 25px;
    max-width: 25px;
}

.btn_logout {
    max-width: 60px;
    max-height: 30px;
    position: absolute;
    top: 25px;
}

ul {
    display: flex;
}

.profile-img-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px white;
    object-fit: cover;
    transition: border 1000ms ease-out;
}

.profile-img-small:hover {
    border: 2px solid black;
}

.btn-logout {
    position: absolute;
    right: 15px;
}


.header-name-container * {
    color: $white;
}

.item-img {
    object-fit: contain;
    height: 200px;
    width: 200px;
}



@media only screen and (min-width: 500px) {}